{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{% static 'estilos.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- jQuery necesario para que funcione select2 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <title>{% block titulo %}Películas{% endblock %}</title>
</head>

<body>
    <div class="container-fluid px-0">
        <header></header>
    </div>

    <nav class="navbar navbar-expand-md sticky-top custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">CineCarena</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav text-end">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'peliculaslistaoc5' %}"><b>Películas</b></a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Actores</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Directores</b></a>
                    </li>
                </ul>
            </div>
            <div class="compensa-brand d-none d-md-block" style="height: 32px; width: 44px;"></div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} mt-3" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <div class="container-fluid px-0">
        <footer></footer>
    </div>
</body>
</html>