{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cine Carena</title>
</head>
<body>
    {% block content %}
        <h1>Cine Carena</h1>
        <h2>Bienvenido, {{ nombre }}</h2>

        <div
            id="resultado"
{#            hx-get="{% url 'mensaje' %}"#}
{#            hx-trigger="every 5s"#}
{#            hx-swap="innerHTML"#}
        >
{#            <h2>Hora: {{ hora }}</h2>#}
        </div>

        <button
            hx-get="{% url 'mensaje' %}"
            hx-target="#resultado"
            hx-swap="innerHTML"
{#            hx-trigger="every 5s"#}
            class="btn btn-primary mt-3 mb-3">Prueba HTMX
        </button>

        <div id="galeria">
            {% for peli in peliculas %}
              <a href="{% url 'peliculaconsultar' peli.id %}">
                    <div class="pelimagen" style="background-image: url({{ peli.caratula }}); background-size: cover; background-position: center;">
                    </div>
              </a>
            {% endfor %}
        </div>
        <a href="{% url 'peliculaslistaoc5' %}">Películas</a>
    {% endblock %}
</body>
</html>