{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cine Carena</title>
</head>
<body>
    {% block content %}
        <h1>Cine Carena</h1>
        <h2>Bienvenido, {{ nombre }}</h2>
        <h2>Fecha: {{ fecha_actual }}</h2>
        <div id="galeria">
            {% for peli in peliculas %}
              <a href="{% url 'peliculaconsultar' peli.id %}">
                    <div class="pelimagen" style="background-image: url({{ peli.caratula }}); background-size: cover; background-position: center;">
                    </div>
              </a>
            {% endfor %}
        </div>
        <a href="{% url 'peliculaslistaoc' %}">Películas</a>
    {% endblock %}
</body>
</html>