{% extends "base.html" %}

{% block content %}

    <h1>Listado de películas</h1>
    <a class="btn btn-primary" style="display: inline-block; margin-bottom: 10px;" href="{% url 'peliculaAgregarConForm' %}">Nueva...</a>

    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th class="d-none d-sm-table-cell">Netflix</th>
            <th>nombre</th>
            <th class="d-none d-sm-table-cell">director</th>
            <th></th><th></th>
        </thead>
        <tbody>
        {% for peli in peliculas %}
            <tr>
                <td>{{ peli.id }}</td>
                <td class="d-none d-sm-table-cell">{{ peli.ordenNetflix }}</td>
                <td><a href="{% url 'peliculaDetalleConForm' peli.id %}">{{ peli.nombre }}</a></td>
                <td class="d-none d-sm-table-cell">{{ peli.idDirector }}</td>
                <td><a class="btn btn-primary" href="{% url 'peliculaModificarConForm' peli.id %}">Modificar</a></td>
                <td><a class="btn btn-primary" href="{% url 'peliculaBorrarConForm' peli.id %}">Borrar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
