{% extends "base.html" %}
{% block content %}

    <h1>Listado de películas</h1>
    <a class="btn btn-primary" style="display: inline-block; margin-bottom: 10px;" href="{% url 'peliculacreate' %}">Nueva...</a>

    <table class="table table-striped table-hover">
        <thead>
            <th>id</th>
            <th class="d-none d-sm-table-cell">Netflix</th>
            <th>nombre</th>
            <th class="d-none d-sm-table-cell">director</th>
            <th></th><th></th>
        </thead>
        <tbody>
        {% for peli in peliculas %}
            <tr style="cursor:pointer;" onclick="window.location.href='{% url 'peliculadetail' peli.id %}'">
                <td>{{ peli.id }}</td>
                <td class="align-middle d-none d-sm-table-cell">{{ peli.ordenNetflix }}</td>
                <td class="align-middle">{{ peli.nombre }}</td>
                <td class="align-middle d-none d-sm-table-cell">{{ peli.idDirector }}</td>
                <td>
                    <div class="d-flex justify-content-end align-items-end">
                        <a class="btn btn-primary me-2" href="{% url 'peliculaupdate' peli.id %}">Modificar</a>
                        <a class="btn btn-primary" href="{% url 'peliculaBorrarConForm' peli.id %}">Borrar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}