html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: bisque;
}

main {flex: 1;}

header, footer {
    background-color: olive;
    height: 100px;
}

.navbar {
    background-color: olive;
}

.custom-navbar .navbar-text,
.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar a {
    color: bisque !important;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffe4c4' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
    margin-top: 20px;
}

main {
    flex: 1 0 auto;
}

#titulo {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.tituloficha {
    font-family: "PT Sans Narrow", sans-serif;
    color: bisque;
    font-weight: 400;
    font-size: 40px;
}

/* Oculta scrollbar en Firefox y Edge/IE */
#peliculaOffcanvas .offcanvas-body{
    overflow-y: auto;        /* o 'scroll', como prefieras */
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none;/* Edge/IE */
}

/* Oculta scrollbar en Chrome/Safari/Opera */
#peliculaOffcanvas .offcanvas-body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.select2-container { width: 100% !important; }

/*li.select2-selection__choice {*/
/*    background-color: cadetblue !important;*/
/*    color: white !important;*/
/*}*/

thead.table-dark th a,
thead.table-dark th a:visited {
  color: #fff !important;
  text-decoration: none;
}
thead.table-dark th a:hover,
thead.table-dark th a:focus {
  color: #fff !important;
  opacity: .85;
  text-decoration: none;
}

.boton {
    background-color: #005348;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12px;
}

.botones {
    display: flex;
    flex-direction: row; /* aseguramos horizontal */
    gap: 10px;
    margin-top: 20px;
}

.botones button,
.botones .boton-cancelar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    background-color: #005348;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

#galeria {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.pelimagen {
    background-color: #4CAF50;
    height: 200px;
    width: 100px;
}

